<!DOCTYPE html>
<html>
<head>
  <title>WackyCanvas</title>
  <%= stylesheet_link_tag    "wacky_canvas/application", :media => "all" %>
  <%= javascript_include_tag "wacky_canvas/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
